.mgl15{
    margin-left: 15px;
}
.displaynone{
    display: none !important;
}
.displayblock{
    display: block !important;
}
.label-input-file{
    border: 1px solid #999;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    background: #f0f0f0;
    font-size: 14px;
}
.relative{
    position: relative;
}
img{
    max-width: 100%;
}
.mgb50{
    margin-bottom: 50px;
}
.mgb5{
    margin-bottom: 5px;
}
.mgt50{
    margin-top: 50px;
}
.mgt5{
    margin-top: 5px;
}
.mgr5{
    margin-right: 5px;
}
.mgr20{
    margin-right: 20px;
}
.btn-primary{
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px #0062cc;
}
.btn-danger{
    border-radius: 3px;
    box-shadow: 0px 0px 1px 0px #dc3545;
}
#showpass{
    right: 23px;
    position: absolute;
    top: 11px;
}
.list-cate .avatar{
    max-width: 100px;
}
.mgl20{
    margin-left: 20px;
}
.pdl0{
    padding-left: 0px;
}
.pd10-0{
    padding: 10px 0;
}
.area-danhmuc{
    height: 130px;
    overflow-y: scroll;
}
.area-danhmuc::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}
.area-danhmuc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #555;
}
.area-danhmuc::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
}
.form-control-label{
    font-weight: 700;
}
.bgrc{
    background: #ebebeb;
}
.lineh1{
    line-height: 1;
}
.w50{
    width: 50%;
}
.fwbold{
    font-weight: bold;
}
.inlib{
    display: inline-block;
}
.tdropdown .dropdown-menu{
    background: #e9eaef;
    border: none;
    width: 100%;
    padding: 0px 20px;
    top: 45px !important;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
}
.dropdown-menu::-webkit-scrollbar {
    width: 5px;
}
.dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    background: #ccc;
}
.mg0{
    margin: 0 !important;
}
.label-bangcapchon,
.label-lopchon,
.label-quanchon,
.label-monchon{
    background: #FF9800;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
}
.icon {
    background: url(../images/icon-mobile.png) no-repeat;
}
.icon-x{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position-x: -54px;
    background-position-y: -11px;
    position: absolute;
    right: 3px;
    top: 4px;
    cursor: pointer;
}
.label-bangcap,
.label-mon,
.label-quan,
.label-lop{
    margin-bottom: 5px;
    cursor: pointer;
}

