@font-face {
    font-family: 'Quicksand-Medium';
    font-display: auto;
    src: url('/css_user/asset/fonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'), url('/css_user/asset/fonts/Quicksand-Medium.woff') format('woff'), url('/css_user/asset/fonts/Quicksand-Medium.ttf') format('truetype'), url('/css_user/asset/fonts/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-style: normal;
}
/* @font-face{
    font-family: 'bebas';
    src: url('/asset/fonts/Bebas-Regular.ttf');
} */
body {
    margin: 0;
    font-family: Quicksand-Medium;
    overflow-x: hidden;
    font-size: 16px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.bgr-gradient{
    background-image: linear-gradient(to right, #236e99, #2392a5);
}
.bgrf7{
    background: #f7f7f7;
}
.menutop{
    border-bottom: 2px solid #4fa1b5;
    padding: 20px 0;
}
img{
    width: 100%;
}
.pd0{
    padding: 0 !important;
}
.mg0{
    margin: 0 !important;
}
.pdl0{
    padding-left: 0px;
}
.pdl20{
    padding-left: 20px;
}
.pdr0{
    padding-right: 0px;
}
.pdr30{
    padding-right: 30px;
}
.pdt20{
    padding-top: 20px;
}
.pdt30{
    padding-top: 30px;
}
.pdt50{
    padding-top: 50px;
}
.pd70-0{
    padding: 70px 0px;
}
.mgb5{
    margin-bottom: 5px;
}
.mgt0{
    margin-top: 0px !important;
}
.mgt20{
    margin-top: 20px;
}
.mgt40{
    margin-top: 40px;
}
.mgb50{
    margin-bottom: 70px;
}
.pdb50{
    padding-bottom: 50px;
}
.menu ul{
    padding: 0;
}
.menu ul li{
    list-style: none;
    padding-left: 30px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffffff;
    text-transform: uppercase;
}
.clear-fix {
    clear: both;
}
.icon {
    background: url(../images/icon-mobile.png) no-repeat;
}
.icon-phone {
    width: 30px;
    height: 20px;
    display: inline-block;
    background-position-x: -1px;
    background-position-y: -6px;
}
.icon-x{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-position-x: -54px;
    background-position-y: -11px;
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}
.icon-share-fb{
    width: 35px;
    height: 35px;
    display: inline-block;
    background-position-x: -66px;
    background-position-y: 0px;
}
.icon-share-yt{
    width: 35px;
    height: 35px;
    display: inline-block;
    background-position-x: -149px;
    background-position-y: 0px;
}
.icon-share-tw {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-position-x: -109px;
    background-position-y: 0px;
}
.btn-hotline{
    text-decoration: none;
    color: #ffffff;
    background: #45a3b5;
    padding: 20px 30px;
    border-radius: 30px;
    display: flex;
}
.title-home{
    color: #ffffff;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 35px;
}
.baoanhbia{
    padding: 0;
    display: flex;
    justify-content: center;

}
.thongtin-gv{
    position: absolute;
    bottom: 0;
    background: #d2e6ea;
    padding: 20px 50px;
    width: 100%;
    margin: 0;
    opacity: 0.8;
    font-size: 18px;
    color: #2e4050;
}
.list-loiich{
    color: #ffffff;
    font-size: 18px;
    padding-left: 10px;
    position: relative
}
.list-loiich::before{
    content: '-';
    position: absolute;
    left: 0px;
}
.btn-timgiasu{
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px 60px;
    background: #fa8e08;
    border-radius: 10px;
}
.btn-timgiasu:hover{
    color: #ffffff;
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.title-timgs{
    color: #2e4050;
    font-size: 30px;
    font-weight: bold;
}
.box-dangky{
    padding: 30px;
    background: #f7eddf;
    border-radius: 15px;
}
.label-dangkytimgs{
    font-weight: bold;
    font-size: 16px;
    color: #2e4050;
}
.form-giasu{
    width: 100%;
    padding: 10px;
    outline: none;
    background: #f2dfc5;
    border-radius: 20px;
    border: 2px solid #f7eddf;
}
.inputgia:focus,
.form-giasu:focus{
    border: 2px solid #ffbb00;
}
.inputgia{
    width: 100px;
    padding: 10px;
    outline: none;
    background: #f2dfc5;
    border-radius: 20px;
    border: 2px solid #f7eddf;
}
.btn-guiyeucau{
    padding: 15px 50px;
    border: none;
    background: #f58904;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
.bao-form-dangkygiasu{
    padding: 70px 0;
    border-bottom: 1px solid #8dbaca ;
}
.title-danhsachgiasu{
    text-align: center;
    color: #2e4050;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
.text-dangkygiasu{
    font-size: 16px;
    color: #0460bf;
    position: absolute;
    bottom: 0px;
    right: 25px;
    font-weight: initial;
}
.timgiasu{
    font-size: 16px;
    font-weight: initial;
    position: absolute;
    bottom: 0px;
    right: 25px;
    padding: 5px 10px;
}
.item-giasu .avatar{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.item-giasu .ma-gs{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2384a1;
    margin: 10px 0;
}
.thongtin-gs{
    background: #ffffff;
    border-radius: 17px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.text-thongtin{
    font-size: 16px;
    color: #2e4050;
    margin: 20px 0;
}
.text-thongtin span{
    font-weight: bold;
}
.box-dangky-giasu{
    padding: 30px;
    background: #e4eff4;
    border-radius: 15px;
}
.gs-luuy{
    font-size: 14px;
    color: #2e4050;
}
.form-giasu-dk{
    width: 100%;
    padding: 10px;
    outline: none !important;
    background: #c5e1f2;
    border-radius: 20px;
    border: 2px solid #e4eff4;
}
.form-giasu-dk:focus{
    border: 2px solid #23819f;
}
.w50{
    width: 50%;
}
.displaynone{
    display: none !important;
}
.labelbangcap,
.labelquan,
.labelmon,
.labellop{
    padding: 10px 15px;
    background: #c5e1f2;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 16px;
    color: #2e4050;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}
.fff200{
    background: #fff200;
}
.text-end{
    text-align: end;
}


.dropdown-menu.show{
    display: flex ;
    flex-direction: column;
    border: none;
    background: rgb(228, 239, 244);
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.bangcapgs,
.lopdaygs,
.quandaygs,
.mondaygs{
    padding: 5px 15px;
    background: #fff200;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 12px;
    color: #2e4050;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
}
.acd5e7{
    background: #acd5e7;
}
.dropdown-menu{
    transform: translate3d(5px, 35px, 0px)!important;
}
#chonquan{
    max-height: 300px;
    overflow-y: scroll;
}
#chonmon{
    max-height: 305px;
    overflow-y: scroll;
}
#chonlop{
    max-height: 270px;
    overflow-y: scroll;
}
.bao-quydinh{
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px #ccc;
    margin-top: 20px;
}
.bao-quydinh ul {
    list-style: none;
    counter-reset: li;
    font-size: 16px;
}
.bao-quydinh ul li {
    counter-increment: li;
}
.bao-quydinh ul li::before {
    content: counter(li)'.';
    color: #3289a5;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.btn-guithongtin-ctv,
.btn-guithongtin{
    padding: 10px 35px;
    border: none;
    background: #23819f;
    border-radius: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
.bao-loicamon{
    text-align: center;
    padding: 30px;
    background: #ffffff;
    margin: 70px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px #ccc;
}
.quaylaitrangchu{
    background: #fa8e08;
    padding: 10px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
}
.quaylaitrangchu:hover{
    color: #ffffff;
}
.fwbold{
    font-weight: bold;
}
.gioithieu .title{
    font-size: 30px;
    color: #2e4050;
    text-align: center;
    margin: 50px 0;
}
.gioithieu .title-dm{
    font-size: 16px;
    color: #2e4050;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.gioithieu .title-dm:before {
    content: '';
    width: 30%;
    height: 3px;
    background: #45a3b5;
    position: absolute;
    bottom: -5px;
}

.gioithieu .bao-danhmuc ul li{
    list-style: none;
    padding: 6px 0;
    border-bottom: 1px solid #ececec;
}
.gioithieu .bao-danhmuc ul li a{
    padding: 6px 0;
    color: #3d4193;
}
.gioithieu .bao-noidung{
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px #ccc;
    border-radius: 20px;
    word-break: break-word;
}
.bao-chitiet-noidung{
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 5px 1px #ccc;
    border-radius: 20px;
    word-break: break-word;
}
.gioithieu .bao-noidung .item-tin{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    
}
.gioithieu .bao-noidung .item-tin:last-child{
    border-bottom: none;
    
}
.gioithieu .bao-noidung .item-tin .title-tintuc{
    font-weight: bold;
    color: #2e4050;
}
.gioithieu .bao-noidung .item-tin .mota-tintuc{
    font-size: 14px;
    color: #2e4050;
}
.anhbiatintuc{
    width: 240px;
    height: 160px;
}
.bao-danhmuc .childr{
    padding-left: 20px !important;
    font-size: 15px;
}
.bgrfoot{
    background: #2e4050;
    padding-bottom: 30px;
    padding-top: 15px;
    border-bottom: 1px #3b4f61 solid;
}
.logofooter{
    width: auto;
}

.info_company{
    margin-top: 30px;
    padding: 0;
}
.info_company li{
    list-style: none;
}
.info_company li p {
    list-style: none;
    font-size: 14px;
    color: #fff;
    line-height: 150%;
    margin-top: 10px;
}
.bao-timefooter {
    background: #2e4050;
    padding: 15px 0;
    border-bottom: 1px #3b4f61 solid;
}
.bao-timefooter img {
    width: auto;
}
.copy-right {
    background: #273644;
    padding: 15px 0;
    color: #acb8c3;
    font-size: 14px;
}
.bao-chitiet-noidung img{
    width: auto;
}
.text-in-button{
    text-align: start;
    color: #757575;
}
.dropdown-toggle::after {
    display: none !important;
}
.showavatar{
    width: 50%;
}
.icon-upload{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position-x: -4px;
    background-position-y: -28px;
}
.label-chonanh {
    padding: 5px 10px 5px 15px;
    background: #c5e1f2;
    border: 1px solid #23819f;
    border-radius: 30px;
}
.text-thongtin label::after{
    content: ", ";
    color: #2e4050;    
}
.text-thongtin label:last-child::after{
    content: ".";
    color: #2e4050;    
}
.btn-hotline:hover{
    color: #ffffff;
}
.item-giasu{
    margin: 10px 0;
}
.bgr9e{
    background: #9e9e9e !important;
}
.xemtoanbo-giasu{
    color: #2e4050;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    border: 2px solid #2e4050;
    border-radius: 30px;
}
.xemtoanbo-giasu:hover{
    color: #2e4050;
}
.quyenloictv .title-quyenloi{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.quyenloictv ul li{
    text-align: left;
}